@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

:root{
    --primary:#21083B;
    --secondary:#884DC7;
    --tertiary:#3A86E5;
}

*{
    background-color: var(--primary);
    font-family: 'Inter', sans-serif;
    /* border: 0.5px solid red; */
}

body{
    overflow-x: hidden;
}


input{
    width: 300px;
    height: 40px;
    background-color: white;
    border-radius: 30px;
}

input:active{
border: 1px 
}

button{
    border-style: none;
    font-size: 14px;
    cursor: pointer;
}

.content{
    color:white;
    padding:5px 20px;
    line-height: 20px;
}

.content > div{
    margin:10px;
}

.content> input{
    margin:10px;
}

.primary-button{
    width: 80px;
    height: 40px;
    border-radius: 30px;
    background-color: var(--secondary);
    color:white;
}

.primary-button:hover{
    background-color: white;
    color:var(--secondary);
    border: 1px solid var(--secondary);
}

.secondary-button{
    width: 80px;
    height: 40px;
    border-radius: 30px;
    background-color:var(--tertiary);
    color:black;
}

.secondary-button:hover{
    background-color: white;
    color:var(--tertiary);
    border: 1px solid var(--tertiary);
}

.header{
    padding:15px;
    font-weight: 700;
    font-size: 30px;
    text-align: center;
    color:white;
}

.nav-container{
    position: sticky;
    top: 0;
    background-color: var(--primary);
}

.button-container{
    float:right;
}

.button-container > button{
    margin-left: 5px;
}

